* {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* header start */
.nav-bar {
    display: flex;
    height: 5rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    justify-content: space-around;
}

.nav-bar h3 {
    margin-top: 1rem;
    font-size: 30px;
    font-weight: 700;
}

.nav-bar img {
    width: 4rem;
    height: 2rem;
    padding-top: 1.5rem;
    align-items: center;
    padding-right: 0.75rem;
}

.nav_menu {
    display: flex;
}

.logo {
    display: flex;
}

.navinfo {
    display: flex;
    text-decoration: none;
    padding-top: 1rem;
    text-align: center;
    vertical-align: middle;
}

.nav-bar li {
    display: flex;
    margin-left: 2rem;
    text-decoration: none;
}

.nav-bar a {
    color: black;
    text-decoration: none;
}

.follow-link {
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    height: 28px;
    width: 160px;
    padding-top: 10px;
    padding-left: 5px;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.youtube-icon {
    padding-left: 5px;
    padding-right: 5px;
}

/* header end */
/* banner section start */
body {
    margin: auto;
}

.banner {
    display: flex;
    justify-content: space-between;
    width: 88%;
}

.banner-1 {
    background-image: url("images/Group\ 14.png");
    width: 40rem;
    background-size: contain;
    padding-top: 4rem;
    padding-left: 9rem;
}

.banner-1 h2 {
    color: #0B0223;
    font-size: 38px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0rem;
}

.banner-1 h1 {
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-size: 75px;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-2 img {
    width: 35rem;
}

.btn-1 {
    margin-top: 1rem;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 12px 25px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

.btn-2 {
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    display: inline-flex;
    padding: 12px 25px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

/* banner section end */
/* 3rd section start */
.online {
    width: 100%;
    text-align: center;
}

.online-heading {
    color: #0B0223;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

.fun {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-img {
    display: flex;
    width: 85%;
    justify-content: space-around;
    margin-left: 5rem;
    text-align: start;
    margin-top: 3rem;
}

.img1 {
    width: 250px;
    background: url("images/Rectangle\ 4.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 18rem;

}

.img2 {
    width: 250px;
    background: url("images/Rectangle\ 5.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 18rem;
}

.img3 {
    width: 250px;
    background: url("images/Rectangle\ 7.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 18rem;
}

.img4 {
    width: 250px;
    background: url("images/Rectangle\ 6.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 18rem;
}

h3 {
    font-weight: 700;
    font-size: 20px;
}

/* hover css style */
.img1:hover .hover-1 {
    visibility: visible;
}

.img1:hover {
    border: 2px solid #FF42A5;
    border-radius: 15px;
}

.img2:hover .hover-2 {
    visibility: visible;
}

.img2:hover {
    border: 2px solid #FF42A5;
    border-radius: 15px;
}

.img3:hover .hover-3 {
    visibility: visible;
}

.img3:hover {
    border: 2px solid #FF42A5;
    border-radius: 15px;
}

.img4:hover .hover-4 {
    visibility: visible;
}

.img4:hover {
    border: 2px solid #FF42A5;
    border-radius: 15px;
}

.hover-1 {
    width: 255px;
    height: 288px;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #584b53;
    border-radius: 15px;
    right: 54.8rem;
    top: 49.8rem;
    opacity: .6;
    cursor: pointer;
    visibility: hidden;
}

.hover-2 {
    width: 255px;
    height: 288px;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #584b53;
    border-radius: 15px;
    right: 38.8rem;
    top: 49.8rem;
    opacity: .6;
    cursor: pointer;
    visibility: hidden;
}

.hover-3 {
    width: 255px;
    height: 288px;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ef4ab3;
    border-radius: 15px;
    right: 22.4rem;
    top: 49.8rem;
    opacity: .6;
    cursor: pointer;
    visibility: hidden;
}

.hover-4 {
    width: 255px;
    height: 288px;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ef4ab3;
    border-radius: 15px;
    right: 6.5rem;
    top: 49.8rem;
    opacity: .6;
    cursor: pointer;
    visibility: hidden;
}

/* 4th section start */
.playinfo {
    display: flex;
    width: 85%;
    margin-top: 5rem;
    justify-content: space-between;
    height: 600px;
}
.play-img{
    width: 635px;
    height: 650px;
    position: relative;
    background-image: url("images/Rectangle\ 55.png");
    background-repeat: no-repeat;
    background-size: contain;

}
.play-img img{
    height: 250px;
    width: 210px;
    position: relative;
    right: 7rem;
    padding-top: 20rem;
}

.playtext{
    height: 28rem;
    width: 35rem;
    text-align: end;
    padding-top: 150px;
    padding-right: 150px;
 
}
.playtext h1{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
.play-heading{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.playtext p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
/* 4th section end */
/* 5th section button option */
.option-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    text-align: center;
}
.option-btn img{
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
.option-btn button{
    border: hidden;
    width: 195px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    padding-left: 2px;
    padding-right: 2px;
}
/* button hover */
.btn1:hover{
    border: 2px solid #FF42A5;  
    cursor: pointer;
}
.btn1:hover span{
    color: #FF42A5;
}
.btn2:hover{
    border: 2px solid #FF42A5;  
    cursor: pointer;
}
.btn2:hover span{
    color: #FF42A5;
}
.btn3:hover{
    border: 2px solid #FF42A5;  
    cursor: pointer;
}
.btn3:hover span{
    color: #FF42A5;
}
.btn4:hover{
    border: 2px solid #FF42A5;  
    cursor: pointer;
}
.btn4:hover span{
    color: #FF42A5;
}
.btn5:hover{
    border: 2px solid #FF42A5;  
    cursor: pointer;
}
.btn5:hover span{
    color: #FF42A5;
}
.btn6:hover{
    border: 2px solid #FF42A5;  
    cursor: pointer;
}
.btn6:hover span{
    color: #FF42A5;
}
.btn7:hover{
    border: 2px solid #FF42A5;  
    cursor: pointer;
}
.btn7:hover span{
    color: #FF42A5;
}
.btn8:hover{
    border: 2px solid #FF42A5;  
    cursor: pointer;
}
.btn8:hover span{
    color: #FF42A5;
}
.btn9:hover{
    border: 2px solid #FF42A5;  
    cursor: pointer;
}
.btn9:hover span{
    color: #FF42A5;
}

.option-btn span{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 2px;
}
/* 5th section end */